* {
  font: 16px/20px Iosevka, "Andale Mono", monospace;
  /* font-family: Libre Franklin,sans-serif; */
  font-size: 16px;
  max-width: 100rem;
}

body {
  background-color: #333333;
  color: white;
  margin: 10px 10px 10px 10px;
}

details {
  color: white;
  margin: 10px 10px 10px 10px;
  max-width: 100rem;
  align: center;
  border: 0px solid khaki;
  padding: 20px;
}

/* details:hover { */
/*   color: #333333; */
/*   background-color: khaki; */
/* } */

summary {
  font-size: 700%;
  text-align: center;
  color: khaki;
  padding: 20px;
  margin: 10px 10px 10px 10px;
}

summary:hover {
  color: #333333;
  background-color: khaki;
  border-radius: 0px;
}

a {
  color: coral;
}

p {
  margin: 10px 10px 10px 10px;
  border: 0px solid khaki;
  outline: khaki dashed 0px;
  /* margin: auto; */
  padding: 20px;
}

img {
  max-width: 100rem;
  margin: auto;
  padding: 10px;
}
